<style>
    .team-item {
        text-align: center; /* Center text inside the team-item */
    }

    .team-item .overflow-hidden {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px; /* Set a height for the container */
    }

    .team-item img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
</style>

<div class="row g-4">
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item bg-light">
            <div class="overflow-hidden" style="display: flex; justify-content: center; align-items: center; height: 300px;">
                <img class="img-fluid" src="<%= imagename %>" alt="" style="max-width: 100%; max-height: 100%; width: auto; height: auto;">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="text-center p-4">
                <h5 class="mb-0"><%= name %></h5>
                <small>Admin</small>
            </div>
        </div>
    </div>
</div>
